.footer-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.25em;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5em 0;
    width: 100vw;
}

.footer-title {
    grid-column: 2 / 3;
    justify-self: center;
}

.footer-date {
    grid-column: 3 / 4;
    justify-self: end;
    padding-right: 10em;
}