.footer-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.25em;

    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: space-around;
}