body {
    margin: 0;
    padding: 0;
}

.featuredLocationContainer {
    background-size: cover;
    background-position: center; 
    width: 100vw; 
    height: 100vh; 
}

.imageCover {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
}

.textContainer {
    border: 1px solid;
}