body {
    margin: 0;
    padding: 0;
}

.featuredLocationContainer {
    background-size: cover;
    background-position: center; 
    width: 100vw; 
    height: 100vh; 

    display: flex;
    justify-content: end;
}

.imageCover {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 0.25fr 3fr 1fr;
    grid-template-columns: 1fr;
    gap: 0.5em;
    justify-content: end;
    align-items: end;
}

.headerContainer {
    padding: 1em 0em 0em 3em;
}

.textContainer {
    width: 50%;
    padding: 0 0 0 2em;

    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 0.25em;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.randomLocation-country {
    font-weight: 800;
}

.randomLocation-cost {
    font-weight: 800;
    font-size: 1.25rem;
    padding-bottom: 0.4em;
}

.randomLocation-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.randomDescription {
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 0.25rem;
}

.randomLocation-nameBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.seeMore-Container {
    display: flex;
    justify-content: center;
    cursor: pointer;
}