/* body {
  margin: 0;
  padding: 0;
}
* {
  border: 1px solid;
}

.pageContainer {
  height: 100vh;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr;
}

.headerContainer {
  grid-area: 1 / 1 / 2 / 2;
}

.bodyContainer {
  grid-area: 2 / 1 / 3 / 2;
} */